

.contenedorOri {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 700px;
    text-align: center;
    background: rgb(34, 193, 195);
    background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.titulo {
    font-size: 30px;
    font-family: 'Foldit', cursive;
    font-family: 'Mogra', cursive;
}

.detalle {
    font-family:'Josefin Sans', sans-serif;
    font-size: 18px;
}

.imagen {
    width: auto;
    height: 350px;
    border-style: inset;
}


.vaciar {
    text-align: center;
    background: rgb(137,219,228);
    background: radial-gradient(circle, rgba(137,219,228,1) 2%, rgba(255,196,0,1) 98%);
}

.carriVacio {
    text-align: center;
    height: 680px;
}

.value {
    font-size: 24px;
    font-family: 'Foldit', cursive;
    font-family: 'Mogra', cursive;}

h2 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (min-width: 375px) and (max-width: 667px){

    
.contenedorOri {
    
    height: 650px;

}
.titulo {
    font-size: 25px;
    
}
.detalle {
    
    font-size: 16px;
}
.imagen {
    width: auto;
    height: 250px;
    border-style: inset;
}

}


@media only screen and (min-width: 280px) and (max-width: 374px){

    .contenedorOri {
    
        height: 550px;
    
    }
    .titulo {
        font-size: 16px;
        
    }
    .detalle {
        
        font-size: 12px;
    }
    .imagen {
        width: auto;
        height: 200px;
        border-style: inset;
    }
}