


.contenedorOri {
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    text-align: center;
    
}

.titulo {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.imaVacio {
    height: 200px;
    width: auto;
}

.imagen{
    width: 400px;
    height: 400px;
    border-radius: 20px;
}


.vaciar {
    text-align:left;
    background-color: antiquewhite;
}

.carriVacio {
    text-align: center;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.value {
    font-size: 25px;
    font-family: 'Julee', cursive;
}






@media only screen and (min-width: 280px) and (max-width: 374px){




    .titulo {
        font-size: 22px;
        
    }
    span {
        font-size: 16px;
    }

    .imaVacio {
        height: 150px;
        width: auto;
    }
    
    


}