
.footer {
    width: auto;
    background-color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    padding-top: 10px;
    padding: 50px;
    height: 190px;
    text-align: center;
    text-decoration:solid;
}

.ulListaRedes{
    display: flex;
    align-items: center;
    justify-content:space-around;
    text-decoration: none;
    list-style: none;
    color: rgb(251, 249, 249);
    
}

