

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    height: 700px;
    border-radius: 5px solid #000;
    width: auto;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    text-decoration: underline;
    font-family: 'Foldit', cursive;
    font-family: 'Mogra', cursive; 
}

h4 {
    font-size: 25px;
    font-family: 'Foldit', cursive;
    font-family: 'Mogra', cursive; 
    
}

label {
    font-size: 25px;
}

@media only screen and (min-width: 375px) and (max-width: 667px){

    h4 {
        font-size: 25px;
        
    }
    label {
        font-size: 20px;
    }



}

@media only screen and (min-width: 280px) and (max-width: 374px){

    h4 {
        font-size: 18px;
        
    }
    label {
        font-size: 18px;
    }
}