
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@200;600&family=Mogra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');



.detailContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    height: 760px;
    font-family: 'Hind Siliguri', sans-serif;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}


.img1{
    width: auto;
    height: 300px;
    border-radius: 20px;
}


.tituloDetalle {
    color: black;
}


@media only screen and (min-width: 375px) and (max-width: 667px){

    .detailContainer {
        
        height: 730px;
    }

    .img1{
        width: auto;
        height: 200px;
        border-radius: 10px;
    }

    .detail {
        font-size: 18px;
    }

}


@media only screen and (min-width: 280px) and (max-width: 374px){

    .detailContainer {
        
        height: 710px;
    }

    .img1{
        width: auto;
        height: 200px;
        border-radius: 10px;
    }

    .detail {
        font-size: 14px;
        padding: 2px;
    }
    .tituloDetalle {
        font-size: 12px;
    }
    


}